<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1456780774732013"
     crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="google-adsense-account" content="ca-pub-1456780774732013">
  <link rel="icon" href="/gmcads.png" type="image/x-icon">
  <link rel="stylesheet" href="/styles.css" />
  <title>Home</title>
</head>
<body>
  <main>
    <nav>
      <a href="/">Home</a>
      <a href="/services">Our Services</a>
      <a href="/contact">Contact Us</a>
      <a href="/snapshot">Snapshot</a>
    </nav>

    <header>
      <h1>Welcome to Geninfotech Blockchain Validator</h1>
      <p>Empowering blockchain networks with secure and reliable validator nodes</p>
    </header>

    <!-- <section id="video-section">
      <div class="video-container">
        <video autoplay loop muted playsinline>
          <source src="../20240319_1003121.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
    </section> -->

    <section>
      <h2>About Us</h2>
      <p>
        Geninfotech Blockchain Validator specializes in running secure and efficient validator nodes for various blockchain networks. With a team of experienced professionals, we ensure the integrity and reliability of blockchain networks by participating in the consensus process and validating transactions.
      </p>
    </section>

    <section>
      <h2>Our Services</h2>
      <ul>
        <li>Blockchain Validator Node Hosting</li>
        <li>Network Monitoring and Maintenance</li>
        <li>Security Audits and Compliance</li>
        <li>Staking and Governance Solutions</li>
        <li>Customized Blockchain Solutions</li>
        <li>Consultation and Advisory Services</li>
      </ul>
    </section>

    <section>
      <h2>Contact Us</h2>
      <p>For inquiries or to discuss your blockchain validator needs, please contact us:</p>
      <ul>
        <li>Email: info@geninfotech.com</li>
        <!-- <li>Phone: +123-456-7890</li> -->
        <!-- <li>Address: 123 Blockchain Street, City, Country</li> -->
      </ul>
    </section>

    <footer>
      Made with 🧡 💚 💙 by Geninfotech &copy; 2024 All rights reserved.
    </footer>
  </main>
</body>
</html>
