<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Snapshot</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<nav>
    <a href="/">Home</a>
    <a href="/services">Our Services</a>
    <a href="/contact">Contact Us</a>
    <a href="/snapshot">Snapshot</a>
  </nav>
<body>
  <header>
    <h1>Snapshot Coming Soon</h1>
    <p>A snapshot of our latest developments will be available here shortly. Stay tuned!</p>
  </header>

  <main>
    <section>
      <h2>Latest Updates</h2>
      <p>Check back later for updates on our progress.</p>
    </section>

    <section>
      <h2>What to Expect</h2>
      <p>Our snapshot will include details on our latest projects and guide on how to run their Node, achievements, and upcoming events. Don't miss it!</p>
    </section>
  </main>

  <footer>
    Made with 🧡 💚 💙 by Geninfotech &copy; 2024 All rights reserved.
  </footer>
</body>
</html>
